@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:host {
  --hover-opacity: 0.6;
}

.sc_hover_fade:hover {
  opacity: var(--hover-opacity);
}

.sc_fade {
  opacity: var(--hover-opacity);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #54189e;
}
